<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema Vibetex</a>
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/pages/criar-usuario">Criar Conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/login-usuario">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/registro-ponto">Registro de Ponto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages/painel-controle">Painel de Controle</a>
          </li>               
        </ul>
      </div>
    </div>
  </nav>